<div class="bg-dark">
<h3 class="h3">List of books 
  <button class="btn btn-dark" (click)="showOrHide = !showOrHide">Hide/Show pictures</button>
</h3>
<table class="table table-dark">
  <thead class="thead">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Naziv</th>
      <th scope="col">Autor</th>
      <th scope="col">Opis</th>
      <th scope="col" *ngIf="showOrHide">Slika</th>
      <th scope="col">Cijena</th>
      <th scope="col">Datum Izdavanja</th>
      <th scope="col">Jezik</th>
      <th scope="col">Broj Stranica</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let book of books">
      <td>{{ book.id | number }}</td>
      <td>{{ book.naziv | uppercase }}</td>
      <td>{{ book.autor | uppercase }}</td>
      <td>
        <span *ngIf="book.showOpis">{{ book.opis | lowercase }}</span>
        <button class="btn btn-secondary" (click)="toggleOpis(book)">
          Show/Hide
        </button>
      </td>
      <td *ngIf="showOrHide">
        <img
          *ngIf="book.slika"
          [src]="book.slika"
          width="50"
          [style.width.px]="imageWidth"
          alt="opis"
        />
        <img
          *ngIf="!book.slika"
          src="assets/images/slika.jpg"
          width="50"
          [style.width.px]="imageWidth"
          alt="opis"
        />
      </td>
      <td>{{ book.cijena | currency : "GBP" : true : "1.2-2" }}</td>
      <td>{{ book.datumIzdavanja | date : "yyyy" }}</td>
      <td>{{ book.jezik | uppercase }}</td>
      <td *ngIf="book.brojStranica > 200" style="background-color: red">
        {{ book.brojStranica | number }}
      </td>
      <td
        *ngIf="book.brojStranica > 100 && book.brojStranica < 200"
        style="background-color: greenyellow"
      >
        {{ book.brojStranica | number }}
      </td>
    </tr>
  </tbody>
</table>
</div>